/node_modules
/public_html/hot
/public_html/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea/*
support_project/vendor
support_project/composer.lock
support_project/storage/
support_project/tests/
support_project/.env
support_project/node_modules/
/support_project/.env.example
/support_project/.gitattributes
